body  {
   background-image: url("https://media2.giphy.com/media/3o6EhIe2F2yPPnqFyw/200.webp#56");
    background-size: 100%;
   background-repeat: no-repeat;
 }
 footer {
 		padding-top: 25%;

 }
 .jumbotron {
 		background-image: url('https://giphy.com/gifs/places-rhYbume18uUBW');

 }